{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<br>
<h1>各種サービス招待リンク</h1>
<hr>
<h2>Discord</h2>
<p>4th <a href="https://discord.gg/tFxkBD6kJ5">discord.gg/tFxkBD6kJ5</a></p>
<p>6th <a href="https://discord.gg/kxHmcKkMSu">discord.gg/kxHmcKkMSu</a></p>
<p>YukiYoutube開発部 <a href="https://discord.gg/D9YPttX8Px
">discord.gg/D9YPttX8Px</a></p><hr>
<h2>Revolt</h2>
<p>7th <a href="https://rvlt.gg/8K8ABTfz">rvlt.gg/8K8ABTfz</a></p>
<hr><h2>konoMi</h2>
<p>スペース[<a href="https://service.lsapp.space/konomi/">9th</a>]へ招待されています。招待コード : 774245</p><hr>
<h2>MetaLife</h2>
<p>YukiBBS world<a href="https://app.metalife.co.jp/spaces/STiloMukU7vyqkGW1YN2">app.metalife.co.jp/spaces/STiloMukU7vyqkGW1YN2</a></p>
{% endblock %}
